/*
	Syntax for CSS 
	selector{
		property: value:
	}
*/
*{
	font-family: "Roboto", sans-serif;
}
h1, p{
	font-family: "Montserrat", sans-serif;
}
#profile{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
body{
	background-color: #ffffff !important;
	background-image: background-color: #ffffff;
background-image: background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
	
}

#landing{
	height: 80vh;
	/* center the contents vertically using flexbox	*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}